@charset "utf-8";

:root {
  --font-main: 'NotoSansThai', Noto Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-weight-bold: 700;

  --color__brand: #ff0081;
  --color__background-body: #fff;
  --color__background-screen: #f1f1f1;
  --color__background-hr: #ccc;
  --color__background-button: #e6e6e6;
  --color__background-pre: #eee;
  --color__background-ins: #fff9c0;
  --color__text-screen: #21759b;
  --color__text-input: #666;
  --color__text-input-focus: #111;
  --color__link: #4169e1;
  --color__link-visited: #800080;
  --color__link-hover: #191970;
  --color__text-main:#000;
  
  --color__border-button: #ccc #ccc #bbb;
  --color__border-button-hover: #ccc #bbb #aaa;
  --color__border-button-focus: #aaa #bbb #bbb;
  --color__border-input: #ccc;
  --color__border-abbr: #666;

  --color__button: #1d1d1f;
  --color__button-background: #f5f5f7;
  --color__button-border: #1d1d1f;
  --color__button--hover:  #f5f5f7;
  --color__button-background--hover: #1d1d1f;
  --color__button-border--hover: #f5f5f7;
  --color__button-border--focus: #e6e6e6;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Reset
--------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

/* Reset specific elements to make them easier to style in other contexts. */
// html,
// body,
// p,
// ol,
// ul,
// li,
// dl,
// dt,
// dd,
// blockquote,
// figure,
// fieldset,
// form,
// legend,
// textarea,
// pre,
// iframe,
// hr,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   padding: 0;
//   margin: 0;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
// }
 

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a[class] {
  text-decoration: none;
}

/* Make images easier to work with */
img,
video,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Fonts
--------------------------------------------- */
@font-face{
  font-family:'NotoSansThai';
  src: url('../../assets/fonts/NotoSansThai/NotoSansThai-Regular.ttf');
  font-weight:normal;
  font-display: swap;
}

@font-face{
  font-family:'NotoSansThai';
  src: url('../../assets/fonts/NotoSansThai/NotoSansThai-Bold.ttf');
  font-weight:700;
  font-display: swap;
}

/* Typography
--------------------------------------------- */
body {
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  color: var(--color__text-main);
  background-color: var(--color__background-body); // Fallback for when there is no custom background color defined.
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

:root {
  --global--font-size-base: 1.25rem;
  --global--font-size-xs: 1rem;
  --global--font-size-sm: 1.125rem;
  --global--font-size-md: 1.25rem;
  --global--font-size-lg: 1.5rem;
  --global--font-size-xl: 2.25rem;
  --global--font-size-xxl: 4rem;
  --global--font-size-xxxl: 5rem;
  --global--spacing-vertical: 30px;
  --global--line-height-heading: 1.3;
  --global--color-background: #f00;
  --branding--color-text: var(--global--color-primary);
  --branding--color-link: #28303d;
  --branding--color-link-hover: var(--global--color-secondary);
  --branding--title--font-family: var(--global--font-primary);
  --branding--title--font-size: var(--global--font-size-lg);
  --branding--title--font-size-mobile: var(--global--font-size-lg);
  --branding--title--font-weight: normal;
  --branding--title--text-transform: uppercase;
  --branding--description--font-family: var(--global--font-secondary);
  --branding--description--font-size: var(--global--font-size-sm);
  --branding--logo--max-width: 300px;
  --branding--logo--max-height: 100px;
  --branding--logo--max-width-mobile: 96px;
  --branding--logo--max-height-mobile: 96px;
  
}


/* Navigation
--------------------------------------------- */
// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: #fff;
//   z-index: 1;
//   .site-branding {
//     position: relative;
//     z-index: 3;
//   }
// }

.site-header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: var(--global--spacing-vertical);

  padding-top: calc(0.75 * var(--global--spacing-vertical));
  padding-bottom: calc(2 * var(--global--spacing-vertical));

	.site-branding {
		// padding-top: .3125rem;
    // padding-bottom: .3125rem;
    // margin-right: 1rem;
    // font-size: 1.25rem;
    // text-decoration: none;
    // white-space: nowrap;

    @media only screen and (max-width: 481px) {
      margin-right: 0;
      max-width: calc(100% - 160px);
    }

    .custom-logo-link {
      margin: 0;
    }
    
    .custom-logo {
      width: auto;
      height: 2rem;
    }
		
		.site-title {
      color: var(--branding--color-link);
      font-family: var(--branding--title--font-family);
      font-size: var(--branding--title--font-size-mobile);
      letter-spacing: normal;
      text-transform: var(--branding--title--text-transform);
      line-height: var(--global--line-height-heading);
      margin-bottom: calc(var(--global--spacing-vertical) / 6);
    }

		.site-description {
      color: currentColor;
      font-family: var(--branding--description--font-family);
      font-size: var(--branding--description--font-size);
      line-height: 1.4;
      margin: 0;
    }
	}

	.main-navigation {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--primary-nav--color-text);
    font-size: var(--primary-nav--font-size);
    // line-height: 1.15;
    margin-top: 0;
    margin-bottom: 0;

    @media only screen and (min-width: 482px) {
      position: relative;
      margin-left: auto;
    }

    &.toggled{
      @media only screen and (max-width: 481px) {
        width: 100%;
        position: fixed;
        z-index: 2;
      }
      
      .menu-toggle {
        position: relative;
        z-index: 500;
        margin-left: auto;
        background-color: var(--global--color-background);
      }

      .menu-primary-menu-container {
        position: absolute;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    margin-left: auto;

    .menu-primary-menu-container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding-top: calc(1.5 *1rem + 42px + 5px);
      padding-left: var(--global--spacing-unit);
      padding-right: var(--global--spacing-unit);
      padding-bottom: var(--global--spacing-horizontal);
      background-color: #fff;
      transition: all 0.15s ease-in-out;
      transform: translateY(var(--global--spacing-vertical));
      visibility: hidden;
      opacity: 0;

      @media only screen and (max-width: 481px) {
        height: 100vh;
        z-index: 499;
        overflow-x: hidden;
        overflow-y: auto;
        border: 2px solid transparent;
      }

      @media only screen and (min-width: 482px) {
        visibility: visible;
        opacity: 1;
        position: relative;
        padding: 0;
        background-color: transparent;
        overflow: initial;
        transform: none;
      }
    }
    

		a {
			font-size: .875rem;
			color: #18113c;
			font-weight: 500;
			padding: .3125rem .5rem;

			&:hover {
				color: var(--color__brand);
			}
		}
	}
}

@media only screen and (max-width: 481px) {
  .site-header:not(.has-logo).has-title-and-tagline .site-branding {
    margin-right: 0;
    max-width: calc(100% - 160px);
  }
}

/* Navigation
--------------------------------------------- */
.main-navigation {
	// display: block;
  // width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

// /* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

// Product
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


.avatar-sm {
  width: 2rem;
  height: 2rem;
}

/*--------------------------------------------------------------
# Page: Contact
--------------------------------------------------------------*/
.contact__map {
  position: relative;
  width: 100%;
  height: 40vh;
  // min-height: 50vh;

  iframe {
    width: inherit;
    height: inherit;
    border: 0;
    pointer-events: none;
  }
}