/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
@charset "utf-8";

// Import variables and mixins.
@import "abstracts/abstracts";

/* Bootstrap
--------------------------------------------- */
@import 'vendors/bootstrap';

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
// @import "generic/normalize";

/* Box sizing
--------------------------------------------- */
// @import "generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
// @import "base/base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
// @import "layouts/content-sidebar"; // Uncomment this line for a sidebar on right side of your content.
// @import "layouts/sidebar-content"; // Uncomment this line for a sidebar on left side of your content.

/* Header
--------------------------------------------- */
// @import "layouts/header";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
// @import "components/components";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */
@import "plugins/jetpack/infinite-scroll";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@import "utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "utilities/alignments";

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
/* Custom
--------------------------------------------- */
// @import "pages/global";
// @import "base/reset";

/*--------------------------------------------------------------
# Custom styles
--------------------------------------------------------------*/
@import "custom-styles";

@import "button";

/* Footer
--------------------------------------------- */
@import "footer";