.footer {
  position: relative;
  overflow: hidden;

  &__copyright {
    background-color: #191918;
    color: #5e5e5e;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    overflow: hidden;

    &-inner {
      width: 100%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      font-size: 0.75rem;
      text-align: center;
      line-height: 2;

      span {
        display: block;
      }

      @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}